In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('data\\train.csv',index_col='Id')

In [4]:
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
Id,,,,,,,,,,,
59202,0,1.000000,63y,4,0.544965,3902.0,6,1,2,1,0.0
122913,0,0.007645,53y,0,4519.000000,0.0,13,0,2,0,0.0
111937,0,0.863713,30y,0,1.337353,3316.0,14,0,2,0,0.0
113491,0,0.058220,41y,0,0.289363,8065.0,9,0,1,0,2.0
116902,0,0.015711,50y,0,2784.000000,NaN,16,0,2,0,0.0

In [5]:
df['age']=df['age'].str.replace('y','').astype(int)
mean_valueMI=df['MonthlyIncome'].mean()
mean_valueND=df['NumberOfDependents'].mean()
df['MonthlyIncome'].fillna(value=mean_valueMI, inplace=True)
df['NumberOfDependents'].fillna(value=round(mean_valueND,0), inplace=True)

In [6]:
df_1=df[df['SeriousDlqin2yrs']==1]

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4856 entries, 7335 to 53790
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   SeriousDlqin2yrs                      4856 non-null   int64
 1   RevolvingUtilizationOfUnsecuredLines  4856 non-null   float64
 2   age                                   4856 non-null   int32
 3   NumberOfTime30-59DaysPastDueNotWorse  4856 non-null   int64
 4   DebtRatio                             4856 non-null   float64
 5   MonthlyIncome                         4856 non-null   float64
 6   NumberOfOpenCreditLinesAndLoans       4856 non-null   int64
 7   NumberOfTimes90DaysLate               4856 non-null   int64
 8   NumberRealEstateLoansOrLines          4856 non-null   int64
 9   NumberOfTime60-89DaysPastDueNotWorse  4856 non-null   int64
 10  NumberOfDependents                    4856 non-null   float64
dtypes: float64(4), int32(1), int64(6)
memory usage: 436.3 KB

In [8]:
df_2=df[df['SeriousDlqin2yrs']==0]

In [1]:
df_2.info()

NameError: name 'df_2' is not defined

In [9]:
df_2S=df_2.sample(n=4856)

In [10]:
df3=pd.concat([df_2S,df_1])

In [11]:
df3

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
Id,,,,,,,,,,,
636,0,0.005326,53,0,79.000000,0.0,4,0,0,0,0.0
34404,0,0.483243,51,1,0.793471,4318.0,19,0,3,0,0.0
50131,0,0.237761,42,0,0.374505,8832.0,9,0,2,0,2.0
117897,0,0.200905,65,0,0.132760,7795.0,10,1,1,0,1.0
72313,0,0.179741,62,0,0.405916,7200.0,6,0,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
76203,1,1.712575,35,0,0.058776,2500.0,1,1,0,0,0.0
13400,1,1.177911,25,0,0.167135,3200.0,5,0,0,0,2.0
60084,1,0.748428,53,0,0.561371,9800.0,13,1,3,0,0.0
130791,1,0.609302,82,0,0.249167,2700.0,11,0,0,0,0.0
53790,1,0.837858,62,4,0.338386,7981.0,8,3,1,0,0.0

In [12]:
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
Id,,,,,,,,,,,
59202,0,1.000000,63,4,0.544965,3902.000000,6,1,2,1,0.0
122913,0,0.007645,53,0,4519.000000,0.000000,13,0,2,0,0.0
111937,0,0.863713,30,0,1.337353,3316.000000,14,0,2,0,0.0
113491,0,0.058220,41,0,0.289363,8065.000000,9,0,1,0,2.0
116902,0,0.015711,50,0,2784.000000,6647.915549,16,0,2,0,0.0

In [13]:
X = df3.drop(columns=['SeriousDlqin2yrs'])
y = df3['SeriousDlqin2yrs']

In [14]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [15]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7769, 10)
(1943, 10)
(7769,)
(1943,)

In [16]:
y_test.value_counts(normalize=True)

0    0.502831
1    0.497169
Name: SeriousDlqin2yrs, dtype: float64

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [18]:
from sklearn import decomposition
sc = StandardScaler()
pca = decomposition.PCA()
X=df.iloc[:,:-1]
n_components = list(range(1,X.shape[1]+1,1))
dtreeCLF = DecisionTreeClassifier()

In [19]:
reg_log = Pipeline(steps = [
    ("imputer", SimpleImputer()),
    ("scaler", StandardScaler()),
    ("reglog", LogisticRegression())
])
reg_log_param = {
    "imputer__strategy": ['mean', 'median'],
    "reglog__penalty": ['l1', 'l2'],
    "reglog__C": np.logspace(0, 4, 10)
}

rand_forest = RandomForestClassifier()
rand_forest_param = {
    "n_estimators": [10, 100, 1000],
    "max_features": [1,2,3],
    'criterion' : ['entropy']
}


svm = Pipeline(steps=[
    ("scaler", StandardScaler()),
    ("selectkbest", SelectKBest()),
    ("svm", SVC())
])


svm_param = {
    'selectkbest__k': [2, 3, 4],
    'svm__kernel': ['linear', 'rbf', 'sigmoid', 'poly'],
    'svm__C': [0.001, 0.1, 0.5, 1, 5, 10, 100],
    'svm__degree': [1,2,3,4],
    'svm__gamma': ['scale', 'auto']
}

knn = Pipeline(steps = [    
    ("knn_scaler", StandardScaler()),
    ("knn", KNeighborsClassifier())
])

knn_param = {
    'knn__leaf_size': [30,60,90],
    'knn__n_neighbors':[5,25,50,100],
    'knn__p' : [2,4,6]

    
}

Dtree = Pipeline(steps = [ 

    ("sc", sc),
    ("pca", pca),
    ("DtreeCLF", DecisionTreeClassifier())
])

Dtree_param = {
    "DtreeCLF__criterion": ["gini", "entropy"], 
    "DtreeCLF__max_depth": [1,2,3,4,5,6,7, None],
    "DtreeCLF__min_samples_leaf": [1, 2, 3]
}

In [20]:
gs_reg_log = GridSearchCV(reg_log,
                         reg_log_param,
                         cv = 10,
                         scoring = 'roc_auc',
                         verbose = 1,
                         n_jobs = -1)

gs_rand_forest = GridSearchCV(rand_forest,
                         rand_forest_param,
                         cv = 10,
                         scoring = 'roc_auc',
                         verbose = 1,
                         n_jobs = -1)

gs_svm = GridSearchCV(svm,
                         svm_param,
                         cv = 10,
                         scoring = 'roc_auc',
                         verbose = 1,
                         n_jobs = -1)
gs_knn = GridSearchCV(knn,
                         knn_param,
                         cv = 10,
                         scoring = 'roc_auc',
                         verbose = 1,
                         n_jobs = -1)
gs_Dtree = GridSearchCV(Dtree,
                         Dtree_param,
                         cv = 10,
                         scoring = 'roc_auc',
                         verbose = 1,
                         n_jobs = -1)





grids = {#"gs_reg_log": gs_reg_log,
        "gs_rand_forest": gs_rand_forest,
        #"gs_svm": gs_svm,
        #"gs_knn": gs_knn,
        #"gs_dtree": gs_Dtree   
        
        }

In [21]:
for nombre, grid_search in grids.items():
    grid_search.fit(X_train, y_train)

Fitting 10 folds for each of 9 candidates, totalling 90 fits

In [22]:
print(gs_rand_forest.best_score_)
print(gs_rand_forest.best_params_)
print(gs_rand_forest.best_estimator_)

0.8526263303131323
{'criterion': 'entropy', 'max_features': 1, 'n_estimators': 1000}
RandomForestClassifier(criterion='entropy', max_features=1, n_estimators=1000)

In [25]:
preds = gs_rand_forest.best_estimator_.predict(X_test)
roc_auc_score(y_test, preds)

0.791584815137394

In [46]:
df=pd.read_csv('data\\test.csv',index_col='Id')

In [47]:
df['age']=df['age'].str.replace('y','').astype(int)
mean_valueMI=df['MonthlyIncome'].mean()
mean_valueND=df['NumberOfDependents'].mean()
df['MonthlyIncome'].fillna(value=mean_valueMI, inplace=True)
df['NumberOfDependents'].fillna(value=round(mean_valueND,0), inplace=True)

In [48]:
preds = gs_rand_forest.best_estimator_.predict(df)

In [49]:
preds.shape

(31442,)

In [52]:
predictions_submit = preds
predictions_submit

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [58]:
sample = pd.read_csv("data\\sample_submission.csv")

In [61]:
sample

           Id  SeriousDlqin2yrs
0       11631                 1
1       74682                 1
2       70312                 1
3       78398                 0
4      139155                 0
...       ...               ...
31437  147852                 1
31438  127034                 0
31439   10875                 1
31440   30114                 1
31441   70416                 1

[31442 rows x 2 columns]

In [62]:
submission = pd.DataFrame({"id":sample['Id'], "SeriousDlqin2yrs": predictions_submit})

In [38]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.id.all() == sample.id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Miguel: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `laptops_test.csv`. Lloro.")

In [63]:
submission.shape

(31442, 2)

In [64]:
submission

           id  SeriousDlqin2yrs
0       11631                 1
1       74682                 0
2       70312                 0
3       78398                 0
4      139155                 0
...       ...               ...
31437  147852                 0
31438  127034                 0
31439   10875                 0
31440   30114                 0
31441   70416                 0

[31442 rows x 2 columns]

In [65]:
submission.to_csv("submission.csv", index = False)